extends layout

block content
    h2 #{title}
    form(method='POST', action='/articles/add')
        .panel.panel-default
            .panel-body
                .form-group
                    lable Title:
                    input.form-control(name='title', type='text', required)
                .form-group
                    lable Author(s):
                    input.form-control(name='author', type='text', required)
                .form-group
                    lable Body:
                    textarea.form-control(name='body', required)
            .panel-footer
                input.btn.btn-primary(type='submit', value='Add Article')
                |  
                a.btn.btn-link(href='/') Go Back