extends layout

block content
    h2=article.title
    .row
        .col-md-12
            .panel.panel-default
                .panel-body
                    p='By ' + article.author
                    p Are you sure you want to remove this article?            
                .panel-footer
                    form(method='POST', action='/articles/' + article.id + '/remove')
                        input(type='hidden', name='id', value=article.id)
                        input.btn.btn-danger(type='submit', value='Remove Article')
                        |  
                        a.btn.btn-link(href='/articles/' + article.id) Go Back