extends layout

block content
    h2=article.title
    .row
        .col-md-12
            .panel.panel-default
                .panel-body
                    p='By ' + article.author
                    p=article.body
                .panel-footer
                    a.btn.btn-primary(href='/articles/' + article.id + '/edit') Edit Article 
                    |  
                    a.btn.btn-danger(href='/articles/' + article.id + '/remove') Remove Article 
                    |  
                    a.btn.btn-link(href='/') Go Back