extends layout

block content
    h2 #{title}
    .row
        .col-md-12
            .list-group
                each article, i in articles
                    a.list-group-item(href='/articles/' + article.id)
                        h4.list-group-item-heading=article.title
                        p.list-group-item-text= 'By ' + article.author